.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  padding: 0 20px;
  margin-top: 150px;
}

@media screen and (min-width: 768px) {

  .slider {
    width: 1300px;
    padding-left: 100px;
  }
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 2rem;
  color: #360505;
  z-index: 10;
  transition: color 0.3s ease;
}

.left-arrow:hover,
.right-arrow:hover {
  color: #f01919;
}

.left-arrow {
  left: 30px;
  padding-left: 50px;
  padding-top: 2px;
}

.right-arrow {
  right: 20px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}

.image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
 
  .slider {
    height: 300px;
  }

  .left-arrow,
  .right-arrow {
    font-size: 1.5rem;
  }

  .left-arrow {
    left: 10px;
    padding-left: 30px;
  }

  .right-arrow {
    right: 10px;
  }

  .image {
    max-width: 100%;
    max-height: 100%;
  }
}
